.item-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  min-height: 100vh;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  background-color: #888888;
}
#top {
  width: 100%;
  flex-grow: 1;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#bottom {
  width: 100%;
  flex-grow: 1.5;
  background-color: cadetblue;
}
#top-left {
  flex-grow: 1;
  background-color: silver;
  border-right: 1px;
  border-style: solid;
}
#top-middle {
  flex-grow: 1;
  background-color: silver;
}
#top-right {
  flex-grow: 1;
  background-color: silver;
}
