.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #888888;
  flex-grow: 3;
}
footer {
  background-color: #228899;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.left {
  width: 800px;
  height: 500px;
  background-color: gold;
  display: flex;
  flex-direction: column;
}
.right {
  width: 250px;
  min-height: 200px;
  background-color: #228899;
  border-bottom-color: black;
}
.right > * {
  margin: 25px;
  padding: 1vh;
  justify-content: space-evenly;
}
.search {
  margin-left: 80%;
}
.right > button {
  background-color: gold;
  border: black;
}
#Social Media {
  justify-content: flex-start;
  margin-left: 50px;
}

#Careers {
  margin-left: 1500px;
}

#Contact {
  margin-left: 50px;
}
